body {
    margin: 0;
}

h1, section, div, form {
    margin: 0 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #bf4e30;
}

h1 {
    text-align: center;
    padding: 15px 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#grid div ul {
    padding-left: 0;
}

#grid div {
    background: #1f363d;
}

#grid div h2 {
    text-align: center;
    color: #bf4e30;
}
#grid li a {
    color: #e5eafa;
    text-decoration: none;
}
#grid li {
    list-style-type: none;
    margin: 5px 10px;
    padding: 5px;
}

#grid li a:hover {
    color: #bf4e30;
}