/****************************************************
 General
****************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #40798c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23bf4e30' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e5eafa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23a2305c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2399b3ec' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23862e85' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234c85dd' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23462b6c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%232062af' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23262e54' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23123d62' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%231f363d' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23040f16' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1, section, div, form {
    margin: 0 10px;
}

/****************************************************
 Navigation
****************************************************/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #bf4e30;
}

h1 {
    text-align: center;
    padding: 15px 0;
    color:#e5eafa;
}

/****************************************************
 MainGrid and Items
****************************************************/
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#grid div ul, #search-results ul{
    padding-left: 0;
}

#grid div, #search-results {
    background: #1f363d;
}

#grid div h2, #search-results h2 {
    text-align: center;
    color: #bf4e30;
}
#grid li a, #search-results li a {
    color: #e5eafa;
    text-decoration: none;
}
#grid li, #search-results li {
    list-style-type: none;
    margin: 5px 10px;
    padding: 5px;
}

#grid li a:hover, #search-results li a:hover{
    color: #bf4e30;
}

/****************************************************
 Forms
****************************************************/
input[type=text], input[type=number], input[type=textarea], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=textarea] {
    height: 75px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #40798c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #bf4e30;
  }
  
  form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/****************************************************
 Search Page
****************************************************/
#search-results {
    padding: 10px;
    text-align: center;
}

#search-results li {
    margin: 15px;
    padding: 10px;
}

/****************************************************
 Details Page
****************************************************/
#item-description {
    display: grid;
    grid-template-rows: repear(3, 1fr);
    background: #1f363d;
}

.title {
    text-align: center;
    color: #bf4e30;
    font-size: 48px;
    margin: 10px auto 5px auto;
}

#description-text {
    height: 100%;
    margin: 10px auto;
    padding: 0 10px;
}

.description {
    color: #e5eafa;
}

.price-box {
    background: #bf4e30;
    color: #e5eafa;
    font-size: 48px;
    width: 40%;
    margin: 10px auto 25px auto;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

.update-button {
    background: #40798c;
    color: #e5eafa;
    font-size: 30px;
    width: 20%;
    margin: 10px auto 25px auto;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.update-button:hover {
    color: #bf4e30;
}